body,
h1 {
  margin: 0;
}

.company-name {
  text-decoration: none;
  color: #000;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  text-decoration: none;
  color: #69696a;
  line-height: 30px;
}

body {
  padding: 20px;
}

.nav-hire {
  text-decoration: none;
  color: white;
  background-color: black;
  display: block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.p1 {
  color: gray;
  border-left: 2px solid black;
  height: 60px;
  padding-left: 10px;
  margin: 0px;
}

.action {
  background-color: black;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.link-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #69696a;
  background-color: rgba(247, 193, 162, 0.7);
}

.footer-nav-list {
  display: flex;
  list-style-type: none;
}

.footer-nav-list a {
  text-decoration: none;
  color: #69696a;
  padding: 10px;
}
